In [2]:
# Dependencies
import numpy as np
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [3]:
import datetime as dt

In [4]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [5]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [6]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [7]:
results = session.query(Measurement.date, Measurement.prcp).all()

## D1: Determine the Summary Statistics for June

In [8]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
results =session.query(Measurement.date, Measurement.prcp).all()

In [9]:
#  3. Convert the June temperatures to a list.
prev_year = dt.date(2017, 6, 1)
prev_year = dt.date(2017, 6, 1) - dt.timedelta(days=365)

In [10]:
results = []

In [38]:
results = session.query(Measurement.date, Measurement.tobs)
#print(results.all())

In [32]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df_june = pd.DataFrame(results, columns=['date', 'June Temps'])

In [33]:
# 4. Create a DataFrame from the list of temperatures for the month of June
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df_june = df_june.loc[(df_june['date'] >= '2017-06-01') & (df_june['date'] <= '2017-06-31')]
df_june.describe()

       June Temps
count  191.000000
mean    77.219895
std      2.622538
min     71.000000
25%     75.000000
50%     77.000000
75%     79.000000
max     83.000000

In [34]:
# 5. trying to get all of junes not just 2017
df = pd.DataFrame(results, columns=['date', 'June Temps'])

In [35]:
df.date = pd.to_datetime(df.date,infer_datetime_format=True)

In [36]:
df = df.set_index(df['date'])
df.head()

                 date  June Temps
date
2010-01-01 2010-01-01        65.0
2010-01-02 2010-01-02        63.0
2010-01-03 2010-01-03        74.0
2010-01-04 2010-01-04        76.0
2010-01-06 2010-01-06        73.0

In [37]:
june_data = df[df.index.month==6]
june_data.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [39]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results =session.query(Measurement.date, Measurement.tobs).all()

In [41]:
# 7. Convert the December temperatures to a list.
prev_year = dt.date(2017, 12, 1)
prev_year = dt.date(2017, 12, 1) - dt.timedelta(days=365)

In [42]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
df = pd.DataFrame(results, columns=['date', 'December Temps'])

In [43]:
df.date = pd.to_datetime(df.date,infer_datetime_format=True)

In [44]:
df = df.set_index(df['date'])
df.head()

                 date  December Temps
date
2010-01-01 2010-01-01            65.0
2010-01-02 2010-01-02            63.0
2010-01-03 2010-01-03            74.0
2010-01-04 2010-01-04            76.0
2010-01-06 2010-01-06            73.0

In [45]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
december_data = df[df.index.month==12]
december_data.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000